/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Hintergrundfarbe für den Light Mode */
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff; /* Hintergrundfarbe für den Light Mode */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

/* Dark Mode */
body.dark-mode {
    background-color: #1A1A1A; /* Hintergrundfarbe für den Dark Mode */
    color: #ffffff;
}

.container.dark-mode {
    background-color: #444444; /* Hintergrundfarbe für den Dark Mode */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}



/* Button-Stile */
button {
    padding: 10px 20px;
    border: none;
    background-color: #CD950C; /* Standard Button-Farbe */
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #CD950C; /* Button-Farbe im Hover-Zustand */
}

/* Dark Mode für Buttons */
button.dark-mode {
    background-color: #1f1f1f; /* Button-Farbe im Dark Mode */
}

button.dark-mode:hover {
    background-color: #333333; /* Button-Farbe im Dark Mode im Hover-Zustand */
}

/* Eingabefeld-Stile */
input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

/* Dark Mode für Eingabefeld */
input[type="text"].dark-mode {
    background-color: #444444; /* Hintergrundfarbe im Dark Mode */
    color: #ffffff;
    border: 1px solid #888888; /* Rahmenfarbe im Dark Mode */

}
.dark-text{
    color: #1f1f1f
}

/* Font für die Überschrift */ 
.font-header {
    font-family: 'Black Ops One', cursive;
    font-family: 'Source Code Pro', monospace;
    color: #1f1f1f

}


.label-text-color {
    font-family: 'Black Ops One', cursive;
    font-family: 'Source Code Pro', monospace;
    color: black;
}

.lang-space {
    margin-top: 25px;
}

.mus-space {
    margin-top: 25px;
}

.diff-space {
    margin-top: 25px;
    margin-bottom: 25px;
}

