<!DOCTYPE html>
<html lang="de">
<head>
    <title>Zahlenraten</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-game.css') }}">
    <!--   Fonts für "Scoreboard"-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Source+Code+Pro:wght@900&display=swap" rel="stylesheet">
   
    <head>
        <title>Zahlenraten</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-game.css') }}">
    </head>
    <body class="dark-mode">
        <div class="container">
            <h2>Hallo, {{ name }}!</h2>
            <p>{{ message }}</p>
            <p>Sie haben {{ attempts }} Mal geraten</p>
            <form method="POST" action="/game">
                <div class="ratingfield">
                <!-- Eingabefeld für die geratene Zahl -->
                    <label for="guess">Rate eine Zahl zwischen 1 und 100: </label>
                    <input type="number" name="guess" min="1" max="100" id="font-input" required>
                    <!-- Verstecktes Feld für die Anzahl der Versuche -->
                    <input type="hidden" name="attempts" value="{{ attempts }}">
                    <!-- Button, um die geratene Zahl zu überprüfen -->
                    <button type="submit" id="font-button">Raten</button>
                </div>
            </form>
            <a class="ratingButton" href="/">Startseite</a>
        </div>

        <script>
            // Funktion zum Anwenden der Schriftgröße
            function applyFontSize(size) {
                document.body.style.fontSize = size + "px";
                var fontButton = document.getElementById("font-button");
                fontButton.style.fontSize = size * 0.8 + "px"; // Anpassung der Button-Größe
                var fontInput = document.getElementById("font-input");
                fontInput.style.fontSize = size * 0.8 + "px"; // Anpassung der Input-Größe
            }
    
            // Event Listener beim Laden der Seite
            document.addEventListener("DOMContentLoaded", function () {
                var savedFontSize = getCookie("font-size") || 16; // Standardwert: 16
                applyFontSize(savedFontSize);
            });
    
            // Funktion zum Lesen von Cookie-Werten
            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }
        </script>
        
    </body>
    </html>
