<!DOCTYPE html>
<html lang="de">
<head>
    <title>Zahlenraten</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-game.css') }}">
    <!--   Fonts für "Scoreboard"-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Source+Code+Pro:wght@900&display=swap" rel="stylesheet">
   
    <head>
        <title>Zahlenraten</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="dark-mode">
        <div class="container">
            <h2>Hallo, {{ name }}!</h2>
            <p>{{ message }}</p>
            <form method="POST" action="/game">
                <!-- Eingabefeld für die geratene Zahl -->
                <label for="guess">Rate eine Zahl zwischen 1 und 100: </label>
                <input type="number" name="guess" min="1" max="100" required>
                <!-- Verstecktes Feld für die Anzahl der Versuche -->
                <input type="hidden" name="attempts" value="{{ attempts }}">
                <!-- Button, um die geratene Zahl zu überprüfen -->
                <button type="submit">Raten</button>
                <a href="/"><button>Startseite</button></a>
            </form>
        </div>
    </body>
    </html>
