<!DOCTYPE html>
<html lang="de">
<head>
    <title>Zahlenraten</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!--   Fonts für "Scoreboard"-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Source+Code+Pro:wght@900&display=swap" rel="stylesheet">
    
</head>
<body class="dark-mode">
    <div class="container">
        <h1 class = "font-header">Willkommen zum Zahlenraten!</h1>
        <form method="POST" action="/">
            <!-- Eingabefeld für den Namen des Spielers -->
            <label for="name" class = "font-header">Namen eingeben: </label>
            <input type="text" name="name" maxlength="9" id="font-input" required>
            <!-- Button, um das Spiel zu starten -->
            <button type="submit" id="font-button">Spiel Starten</button>
        </form>
        
        <!-- Buttons, um das Scoreboard und die Optionen anzuzeigen -->
        <div>
            <a href="{{ url_for('options') }}"><button id="option-button">Optionen</button></a>
            <a href="{{ url_for('scoreboard') }}"><button id="scoreboard-button">Scoreboard</button></a>
        </div>
    
    </div>

    
<script>
    // Funktion zum Anwenden der Schriftgröße
    function applyFontSize(size) {
        document.body.style.fontSize = size + "px";
        var fontButton = document.getElementById("font-button");
        fontButton.style.fontSize = size * 0.8 + "px"; // Anpassung der Button-Größe
        var fontInput = document.getElementById("font-input");
        fontInput.style.fontSize = size * 0.8 + "px"; // Anpassung der Input-Größe
        var fontButton = document.getElementById("option-button");
        fontButton.style.fontSize = size * 0.8 + "px"; // Anpassung der Option-Button-Größe
        var fontButton = document.getElementById("scoreboard-button");
        fontButton.style.fontSize = size * 0.8 + "px"; // Anpassung der Scoreboard-Button-Größe
    }

    // Event Listener beim Laden der Seite
    document.addEventListener("DOMContentLoaded", function () {
        var savedFontSize = getCookie("font-size") || 16; // Standardwert: 16
        applyFontSize(savedFontSize);
    });

    // Funktion zum Lesen von Cookie-Werten
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
</script>
</body>
</html>





