<!DOCTYPE html>
<html>
<head>
    <title>Zahlenraten</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!--   Fonts für "Scoreboard"-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Source+Code+Pro:wght@900&display=swap" rel="stylesheet">
    
</head>
<body class="dark-mode">
    <div class="container">
        <h1 class = "font-header">Willkommen zum Zahlenraten!</h1>
        <form method="POST" action="/">
            <!-- Eingabefeld für den Namen des Spielers -->
            <label for="name" class = "font-header">Namen eingeben: </label>
            <input type="text" name="name" required>
            <!-- Button, um das Spiel zu starten -->
            <button type="submit">Spiel Starten</button>
        </form>
        <!-- Button, um das Scoreboard anzuzeigen -->
        <a href="{{ url_for('scoreboard') }}"><button>Scoreboard</button></a>
    </div>
</body>
</html>
